.Navigation{
    display: flex;
    background-color: #c0e9e0;
    justify-content: space-around;
    align-items: center;
    height: 10rem;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

li {
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
  }
  
  li .Link {
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 4px;
    -webkit-transition: background-size 0.5s;
    transition: background-size 0.5s;
  }

li .Link:hover, .Link:focus {
  background-size: 100% 2px;
}